<!--Modal Window-->
<div *ngIf="isLoading" class="fixed inset-0 bg-black bg-opacity-70 z-50 flex items-center justify-center">
    <div class="bg-white rounded-2xl shadow-xl p-6 w-72 text-center">
        <div class="flex flex-col items-center">
            <svg class="animate-spin h-8 w-8 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
            </svg>
            <p class="mt-4 text-grey-700 font-semibold">Iniciando Sesión...</p>
        </div>
    </div>
</div>
<!--Login Form-->
<div class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-darkBg px-4">
    <form 
        [formGroup]="loginForm" 
        (ngSubmit)="onSubmit()" 
        class="bg-white dark:bg-darkCard dark:text-darkText p-8 rounded-2xl shadow-xl space-y-6 w-full lg:w-1/3 2xl:w-1/4 max-w-mod"
    >
        <h2 class="text-2xl font-bold text-center text-grey-800">Inicia Sesión</h2>
        <div class="space-y-4">
            <div>
                <label for="email" class="block text-sm font-medium text-grey-700">
                    Correo
                </label>
                <input 
                    type="text" 
                    id="email" 
                    formControlName="email"
                    class="w-full mt-1 px-4 py-2 dark:bg-darkBgTa border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" 
                    placeholder="Escribe tu nombre de usuario"
                >
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-grey-700">
                    Contraseña
                </label>
                <input 
                    type="password" 
                    id="password" 
                    formControlName="password"
                    class="w-full mt-1 px-4 py-2 dark:bg-darkBgTa border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" 
                    placeholder="Escribe tu contraseña"
                >
            </div>
            <div class="flex justify-between">
                <span>Recordar mi usuario</span>
                <label class="flex items-center cursor-pointer">
                     <input type="checkbox" class="sr-only" [checked]="" (change)="toggleStorage()" />
                     <div class="w-10 h-5 bg-gray-300 dark:bg-gray-600 rounded-full p-1 flex items-center transition">
                        <div
                            class="w-4 h-4 rounded-full shadow-md transform transition-transform"
                            [class.translate-x-4]="isStorage"
                            [class]="isStorage ? 'bg-indigo-600' : 'bg-white'"
                        ></div>
                     </div>
                </label>
            </div>
            <div>
                <button 
                    type="submit" 
                    [disabled]="loginForm.invalid || isLoading"
                    class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-lg hover:bg-indigo-700 transition disabled:bg-gray-400 disabled:cursor-not-allowed"
                >
                    Ingresar
                </button>
                <div *ngIf="errorMessage" class="block text-sm font-medium text-red-700">
                    {{ errorMessage }}
                </div>
            </div>
            <div>
                ¿No tienes una cuenta?
                <a [routerLink]="['/auth/register']" class="text-indigo-600 hover:text-indigo-800 cursor-pointer">
                    Registrate aquí
                </a>
            </div>
        </div>
    </form>
</div>
